html {
    height: 100%;
    font-size: 100%; //let users have control over the text size by zooming or default settings
    box-sizing: border-box; //an element can have padding and will not add onto width
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    font-family: STSong, Arial, Helvetica, sans-serif;
    line-height: 1.3; //to add a little spacing to your text
    margin: 0px;
    padding: 0px;
    background-color: #F4F3EF;
    color: #434952;
}

p {
    margin: 0px;
    padding: 0px;
}

